<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/auth/signup" method="post">
    <input name="username" placeholder="Username">
    <input name="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button>Sign Up</button>
  </form>
</body>
</html>
